doctype html
html
head
		title RECOMMENDR
		link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Lato:wght@400;500&display=swap" rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
body
	div.landing-wrapper
		div.landing-container
			h1.title RECOMMENDR
			p.rec-text recommend a:
			p.rec-something
				a.rec-flag(href='#', data-search-type='track') song
				a(href='#', data-search-type='album') album
				a(href='#', data-search-type='artist') artist
			input.rec-input(placeholder='Search for something to recommend...')
			ul.search-results-container
			div.landing-explore-container
				p.go-explore explore what others have picked out for you
				img.landing-down-arrow(src='/images/down_arrow.svg')
	div.main-wrapper
		div.sort-wrapper
			div.sort-container
				div.sort-container__heading
					p Sort by...
					img.slide-arrow(src='/images/down_arrow.svg')
				div.sort-container__body
					div.sort-category.sort-type
						p Type
						label
							input(type='radio' name='sort-type' value='song' checked)
							|  Song
						label
							input(type='radio' name='sort-type' value='album')
							|  Album
						label
							input(type='radio' name='sort-type' value='artist')
							|  Artist
					div.sort-category.sort-date
						p Date
						label
							input(type='radio' name='sort-date' value='day')
							|  Last day
						label
							input(type='radio' name='sort-date' value='week' checked)
							|  Last week						
						label
							input(type='radio' name='sort-date' value='month')
							|  Last month						
						label
							input(type='radio' name='sort-date' value='year')
							|  Last year										
						label
							input(type='radio' name='sort-date' value='all')
							|  All time			
					div.sort-category.sort-misc
						p Shuffle
		div.results-container 
			ul.search-results-container
				li.results-heading-container
					span.num-recs-heading # of recs
					span.results-heading Results
	script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
	script(src='/scripts/jquery-3.5.1.min.js')
	script(src='/scripts/index.js')
	script(src='/scripts/displayResults.js')
	script(src='/scripts/landing.js')
	script(src='/scripts/main.js')
